[Unit]
Description=Personal Dashboard Service

[Service]
ExecStart=/usr/local/bin/node /opt/personal-dash/bin/www
# Required on some systems
#WorkingDirectory=/opt/nodeserver
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=personal-dash
Environment=NODE_ENV=production PORT=3000

[Install]
WantedBy=multi-user.target
