@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");

* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: white;
  color: black;

  font-family: "Roboto Slab";
}

.container {
  box-sizing: border-box;
  width: 123%;
  height: 81%;
  -webkit-transform: rotate(-90deg) translateX(-70px) translateY(-80px);
}

.text {
  font-size: 50px;
  font-weight: 500;
}

.sub {
  font-size: 24px;
  font-weight: 700;
}

.weather {
  position: absolute;
  text-align: center;
  top: 10px;
  left: 5px;
}

.weather > .text:after {
  content: "°";
}

.header {
  position: absolute;
  top: 10px;
  left: 25vw;
  text-align: center;
}

.header > .text:after {
  content: "";
  display: block;
  height: 1px;
  background: darkgray;
  width: 90%;
  margin: auto;
  margin: 10px auto;
}

.header > .sub {
  font-weight: 500;
}

.todos {
  position: absolute;
  top: 10px;
  right: 5px;
  left: 80vw;
  text-align: center;
  max-width: 400px;
}

.todos > .text:after {
  content: "";
  display: block;
  height: 1px;
  background: darkgray;
  width: 90%;
  margin: auto;
  margin: 10px auto;
}

.todos ul {
  list-style: none;
  text-align: left;
}

.todos li:before {
  content: "\25A1";
  margin-left: -20px;
  margin-right: 10px;
}

.todos li {
  font-size: 24px;
  font-weight: 500;
}

.weekplanner {
  position: absolute;
  top: 50%;
  left: 20px;
}
