@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");

* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: white;
  color: black;

  font-family: "Roboto Slab";
}

.container {
  box-sizing: border-box;
  width: 123%;
  height: 81%;
  -webkit-transform: rotate(-90deg) translateX(-70px) translateY(-80px);
}

.text {
  font-size: 50px;
  font-weight: 500;
}

.sub {
  font-size: 24px;
  font-weight: 700;
}

.weather {
  position: absolute;
  text-align: center;
  top: 10px;
  left: 10px;
  max-width: 30vw;
}

.weather > img,
.weather > .text {
  display: inline-block;
}

.weather > img {
  -webkit-filter: brightness(75%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' ><filter id='bright75'><feComponentTransfer><feFuncR type='linear' slope='0.75'/><feFuncG type='linear' slope='0.75' /><feFuncB type='linear' slope='0.75' /></feComponentTransfer></filter></svg>#bright75");
  filter: brightness(75%);
}

.weather > .text:after {
  content: "°";
}

.weather > .sub {
  text-transform: capitalize;
}

.header {
  position: absolute;
  top: 10px;
  left: 35vw;
  text-align: center;
}

.header > .text:after {
  content: "";
  display: block;
  height: 1px;
  background: darkgray;
  width: 90%;
  margin: auto;
  margin: 10px auto;
}

.header > .sub {
  font-weight: 500;
}

.todos {
  position: absolute;
  top: 10px;
  right: 5px;
  left: 80vw;
  text-align: center;
  max-width: 400px;
}

.todos > .text:after {
  content: "";
  display: block;
  height: 1px;
  background: darkgray;
  width: 90%;
  margin: auto;
  margin: 10px auto;
}

.todos ul {
  list-style: none;
  text-align: left;
}

.todos li:before {
  content: "\25A1";
  margin-left: -20px;
  margin-right: 10px;
}

.todos li {
  font-size: 24px;
  font-weight: 500;
}

.weekplanner {
  position: absolute;
  top: 50%;
  left: 20px;
}

th,
td {
  border-left: lightgrey 1px solid;
  border-right: lightgrey 1px solid;
}

th {
  border-bottom: black 1px solid;
  background-color: lightgrey;
}

td {
  padding: 5px;
  vertical-align: top;
}

table {
  border-bottom: lightgrey 1px solid;
  border-collapse: collapse;
}

.wp-time {
  font-size: 8px;
}

.weekplanner ul {
  list-style: none;
}

.weekplanner li + li {
  border-top: lightgrey 1px dashed;
}
